__pycache__/
.vscode/
dist/
*.py[cod]
*$py.class
*.egg-info/
.DS_Store
.idea/
.ruff_cache/
exp/
exp_logs/
logs/
.venv/

*.json
!tasks.example.json
!docs/ds-visualizer/package.json
!docs/ds-visualizer/package-lock.json
!docs/ds-visualizer/components.json
*.compiled.json

*.log
